.nav-font {
  font-family: "Abel", sans-serif;
  font-size: 23px;
  font-weight: bold;
}
.nav-items {
  margin-left: 130px;
}
.phone-image {
  height: auto;
  width: 100%;
  width: 105px;
  align-self: center;
  padding-top: 30px;
}
.show-specs-button {
  font-family: ubuntu;
  font-size: 13px;
  height: auto;
  width: 125px;
  margin-top: -5px;
}
.phone-model {
  font-family: tilt warp;
  font-size: 20px;
}
.card-size {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 280px;
  border-radius: 30px;
  border-width: 3px;
}
.phone-specs-text {
  font-family: Roboto Mono;
  font-size: 12px;
}
.body-pad {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
}
