.brands-container {
  border: solid;
  border-color: rgb(44, 122, 248);
  border-width: 2.5px;
  border-radius: 8px;
  height: 98px;
  overflow: auto;
}
.brand {
  height: auto;
  width: 100%;
  max-width: 65px;
  margin-top: 15px;
  margin-left: 12.5px;
  margin-right: 12.5px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px white;
  transition: transform 0.2s;
}
.brand:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.samsung {
  border: solid 1px rgb(255, 255, 255);
}
.brand-frame {
  height: 100px;
}
div.scrollmenu {
  background-color: #000000;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #000000;
}

@media (max-width: 420px) {
  .brands-container {
    height: 85px;
  }
  .brand {
    max-width: 60px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 12px;
  }
}
