.tier-photo {
  height: auto;
  width: 100%;
  border: solid 5px rgb(42, 209, 251);
  box-shadow: 0px 0px 25px rgb(42, 209, 251);
  border-radius: 25px;
}
.tier-rank-photo {
  height: auto;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.tier-button-1,
.tier-button-2,
.tier-button-3 {
  color: white;
  background-color: rgb(13, 55, 119, 0.574);
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgb(83, 93, 229);
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
.s-tier {
  height: auto;
  width: 100%;
  display: inline;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid 3px rgb(15, 51, 231);
  box-shadow: 0px 0px 15px rgb(67, 94, 225);
  border-radius: 20px;
}
div.scrollmenu {
  background-color: #000000;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #000000;
}
@media (min-width: 1001px) {
  .tier-photo {
    max-width: 290px;
    margin-left: 78.5px;
    margin-right: 78.5px;
    margin-top: 40px;
  }
  .tier-rank-photo {
    max-width: 13.5vw;
    border: solid 3px rgb(2, 22, 99);
    box-shadow: 0px 0px 15px rgb(2, 22, 99);
  }
  .tier-button-1,
  .tier-button-2,
  .tier-button-3 {
    padding: 14px;
    width: 210px;
    margin-left: 120px;
  }
  .tier-button-2 {
    margin-left: 120px;
  }
  .tier-button-3 {
    margin-left: 122px;
  }
  .col-md-4 {
    height: auto;
    width: 100%;
    max-width: 100vw;
  }
  .rank-container,
  .rank-container-D {
    max-width: 1365px;
    margin-bottom: 3vh;
    border: solid 3px rgb(34, 65, 190);
    box-shadow: 0px 0px 10px rgb(53, 103, 195);
  }
  .rank-container-D {
    margin-bottom: 0vh;
  }
  .image-container {
    max-width: 1365px;
    height: 300px;
  }
  .s-tier {
    max-width: 10vw;
    margin-left: 10px;
    margin-right: 10px;
  }
}
/* Mobile View */
@media (min-width: 320px) and (max-width: 425px) {
  .tier-photo {
    max-width: 54vw;
    margin-top: 4vh;
    margin-left: 23.1vw;
    margin-right: 23.1vw;
  }
  .tier-button-1,
  .tier-button-2,
  .tier-button-3 {
    font-size: 12px;
    margin-left: 25.1vw;
    margin-right: 25.1vw;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 1.1em;
    width: 50vw;
  }
  .col-md-4 {
    height: auto;
    width: 100%;
    max-width: 100vw;
  }
  .rank-container,
  .rank-container-D {
    max-width: 1365px;
    margin-bottom: 3vh;
    border: solid 3px rgb(34, 65, 190);
    box-shadow: 0px 0px 10px rgb(53, 103, 195);
  }
  .rank-container-D {
    margin-bottom: 0vh;
  }
  .rank-header {
    font-size: 1em;
  }
  .rank-container {
    max-width: 100vw;
  }
  .image-container {
    max-width: 100vw;
    height: 300px;
  }
  .s-tier {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (min-width: 416px) and (max-width: 425px) {
  .tier-rank-photo {
    max-width: 39vw;
  }
  .s-tier {
    max-width: 37vw;
  }
}
@media (min-width: 401px) and (max-width: 415px) {
  .tier-rank-photo {
    max-width: 40.5vw;
  }
  .s-tier {
    max-width: 38.5vw;
  }
}
@media (min-width: 386px) and (max-width: 400px) {
  .tier-rank-photo {
    max-width: 42vw;
  }
  .s-tier {
    max-width: 40vw;
  }
}
@media (min-width: 371px) and (max-width: 385px) {
  .tier-rank-photo {
    max-width: 43.5vw;
  }
  .s-tier {
    max-width: 41.5vw;
  }
}
@media (min-width: 361px) and (max-width: 370px) {
  .tier-rank-photo {
    max-width: 45vw;
  }
  .s-tier {
    max-width: 43vw;
  }
}
@media (min-width: 320px) and (max-width: 360px) {
  .tier-rank-photo {
    max-width: 46.5vw;
  }
  .s-tier {
    max-width: 44.5vw;
  }
}
