.img-container {
  display: inline-block;
}
.img-1 {
  display: inline-block;
  height: 380px;
  width: 100%;
  max-width: 600px;
  margin-top: 5px;
}
.img-2 {
  display: inline-block;
  height: 380px;
  width: 100%;
  max-width: 746px;
  margin-top: 5px;
}
.img-3 {
  display: inline-block;
  height: 380px;
  width: 100%;
  max-width: 700px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.img-4 {
  display: inline-block;
  height: 380px;
  width: 100%;
  max-width: 646px;
  margin-top: 5px;
  margin-bottom: 5px;
}
